<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="classes" thread-count="2">
<listeners>
	<listener class-name="pages.BaseSetup"/>
</listeners> 
  <!-- <test name="Regression Testing">
  <parameter name="Reg" value="Regression Test"></parameter>
  <parameter name="Smoke" value="Smoke Testing"></parameter>
    <classes>
      <class name="testclasses.SampleTest"/>
    </classes>
  </test> -->
  
  <test name="Selenium Testing">
    <classes>
      <class name="tests.GoogleSearchFlightBookingTest"/>
      <class name="tests.PageNavigationTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
